<div flex-xs layout="row" layout-wrap>
  <!-- Advanced view -->
  <md-card ng-repeat="photo in photoComments" flex="33">
    <img ng-src="images/{{photo.file_name}}" ng-click="go('/photos/'+photo.user_id+'/'+photo._id)">
    <md-card-content>
      <md-list flex>
        <md-subheader class="md-no-sticky">Comments</md-subheader>
        <md-list-item class="md-2-line" md-long-text ng-repeat="comment in photo.comments">
          <div class="md-list-item-text">
            <p>{{comment.comment}}</p>
            <p><a class="user-comment" ng-href="#/users/{{comment.user_id}}">{{user.first_name}} {{user.last_name}}</a> on {{comment.date_time}}</p>
          </div>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
</div>