<div flex-xs layout="column">
  <md-card ng-if="!main.advanced" ng-repeat="photo in photos track by $index">
    <img ng-src="images/{{photo.file_name}}">
    <md-card-title>
      <md-card-title-text>
				<span class="md-headline">{{photo.date_time}} <i ng-show="photo.favoritedBy" class="material-icons staricon">star_rate</i></span>
      </md-card-title-text>
    </md-card-title>
		<md-card-actions layout="row" layout-align="">
			<md-button ng-click="favoritePhoto(photo, $index)" ng-disabled="photo.favoritedBy">Favorite Photo</md-button>
		</md-card-actions>
    <md-card-content>
      <md-list flex ng-show="photo.comments">
        <md-subheader class="md-no-sticky">Comments</md-subheader>
        <md-list-item class="md-2-line" md-long-text ng-repeat="comment in photo.comments">
          <div class="md-list-item-text">
            <p>{{comment.comment}}</p>
            <p><a class="user-comment" ng-href="#/users/{{comment.user._id}}">{{comment.user.first_name}} {{comment.user.last_name}}</a> on {{comment.date_time}}</p>
          </div>
        </md-list-item>
      </md-list>
			
			<div>
				<md-input-container class="md-block">
          <label>Start typing comment...</label>
          <input type="text" ng-model="photo.newComment">
        </md-input-container>
				<md-button ng-click="submitComment(photo, $index)" type="submit">Submit</md-button>
			</div>
    </md-card-content>
  </md-card>
  <!-- Advanced view -->
  <md-card ng-if="main.advanced" ng-repeat="photo in photos track by $index" ng-show="photo._id === passedId">
    <img ng-src="images/{{photo.file_name}}">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{photos[curIndex].date_time}}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="start center">
      <md-button ng-disabled="$index === 0" ng-href="#/photos/{{user._id}}/{{photos[$index-1]._id}}" class="md-raised md-primary">Previous</md-button>
      <span flex></span>
      <md-button ng-disabled="$index === photos.length-1" ng-href="#/photos/{{user._id}}/{{photos[$index+1]._id}}" class="md-raised md-primary">Next</md-button>
    </md-card-actions>
    <md-card-content>
      <md-list flex ng-show="photo.comments">
        <md-subheader class="md-no-sticky">Comments</md-subheader>
        <md-list-item class="md-2-line" md-long-text ng-repeat="comment in photo.comments">
          <div class="md-list-item-text">
            <p>{{comment.comment}}</p>
            <p><a class="user-comment" ng-href="#/users/{{comment.user._id}}">{{comment.user.first_name}} {{comment.user.last_name}}</a> on {{comment.date_time}}</p>
          </div>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
</div>