<md-sidenav md-is-locked-open="true" class="md-whiteframe-z2" ng-if="main.loggedIn">
	<md-content layout-padding>
		<h3 class="md-title">Filter Instances</h3>
		<md-list flex>
			<div ng-repeat="instance in surveyInstances track by $index">
				<md-list-item class="md-1-line">
					<div class="md-list-item-text">
						<md-checkbox ng-model="instancesToShow[$index]" ng-change="updateData()">
							{{getNameOfSite(instance.siteId)}} on {{instance.date | date}}
						</md-checkbox>
					</div>
				</md-list-item>
			</div>
		</md-list>
	</md-content>
</md-sidenav>

<md-content layout-padding flex id="content">
	<!--<md-list flex>
		<md-list-item class="md-1-line" ng-repeat="survey in surveys" ng-click="null">
			
		</md-list-item>
	</md-list>-->
	<h1>{{survey.name}}</h1>
	<div ng-repeat = "question in survey.questions track by $index">
		<h3>{{question.question}}</h3>
		<nvd3 options="options" data="aggregateData[$index]"></nvd3>
		<div ng-repeat = "answerOption in question.answerOptions track by $index">
			<p>{{answerOption.display}}: {{aggregateData[$parent.$index][$index].count}}</p>
		</div>
	</div>
</md-content>