<md-dialog aria-label="Big Favorite">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{photo.date_time}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="material-icons">cancel</i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <img style="margin: auto; max-width: 100%;" alt="Lush mango tree" ng-src="images/{{photo.file_name}}">
      </div>
    </md-dialog-content>

  </form>
</md-dialog>